[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Devops_proj
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/Devops_proj/Devops_proj/Devops_proj.sock Devops_proj.wsgi:application

       
[Install]
WantedBy=multi-user.target